@import "tailwindcss";


html {
    scroll-behavior: smooth;
    
  }
::-webkit-scrollbar{
  display: none;
}
body{
    font-family: 'Outfit',sans-serif;
}

.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 6rem;
  height: 6rem;
  border: 2px solid rgb(229, 224, 224);
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  background-color: rgb(229, 224, 224);
  mix-blend-mode: difference; 
}
@theme inline {
  --animate-scroll: scroll var(--animation-duration, 40s) var(--animation-direction, forwards) linear infinite;
 
  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }
}

@theme inline {
  --animate-meteor-effect: meteor 5s linear infinite;
  
  @keyframes meteor {
    0% {
      transform: rotate(215deg) translateX(0);
      opacity: 1;
    }
    70% {
      opacity: 1;
    }
    100% {
      transform: rotate(215deg) translateX(-500px);
      opacity: 0;
    }
  }
}
